/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* Navbar */
.navbar {
    margin:0; 
    background: #2c3e50;
    color: #ecf0f1;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #ecf0f1;
}

a {
  color: #c0392b;
}

a:hover {
  color: #e74c3c;
}

/* Jumbotron */

.jumbotron {
  background: #ecf0f1;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  padding: 10px 0px;
}

.btn-group {
  display: inline-block;
  float:left;
}